<a href="https://colab.research.google.com/github/Ishani-Patel/data690_fall2022/blob/main/assignment_03/assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data 690 Assignment_03
* Name: Ishani Mayur Patel
* Student ID:KV93419

In [2]:
import random
size=10

In [3]:
lst= []
in_lst= []
for i in range(size):
  for j in range(size):
    in_lst.append(random.randint(0,9))
  lst.append(in_lst)
  in_lst = []

####Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [4]:
for i in range(len(lst)):
  for j in range(len(lst[i])):  
    print(lst[i][j], end="  ")
  print("\n")

1  8  1  1  1  6  1  9  2  0

1  7  2  1  1  2  1  8  8  2

8  0  0  2  8  8  4  4  3  5

1  9  8  0  2  7  0  4  2  4

6  0  4  7  1  7  5  5  8  5

4  1  0  0  6  2  7  8  5  0

0  8  8  5  2  1  6  4  8  5

8  9  4  6  6  0  5  7  2  3

8  5  0  2  3  5  5  9  4  1

5  7  1  7  7  5  6  5  6  9

####If the random number is an odd number, print "@" instead. like the following:

In [5]:
for i in range(len(lst)):
  for j in range(len(lst[i])):
    if lst[i][j] % 2==0:
      print(lst[i][j], end="  ")
    else:
      print("@",end="  ")
  print("\n")

@  8  @  @  @  6  @  @  2  0

@  @  2  @  @  2  @  8  8  2

8  0  0  2  8  8  4  4  @  @

@  @  8  0  2  @  0  4  2  4

6  0  4  @  @  @  @  @  8  @

4  @  0  0  6  2  @  8  @  0

0  8  8  @  2  @  6  4  8  @

8  @  4  6  6  0  @  @  2  @

8  @  0  2  @  @  @  @  4  @

@  @  @  @  @  @  6  @  6  @

####Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [6]:
row_sum = []
for i in range(len(lst)):
  total_r = 0
  for j in range(len(lst[i])):
    total_r=total_r+lst[i][j]
    print(lst[i][j], end=" ")
  row_sum.append(total_r)
  print("* {}\n".format(total_r))

1 8 1 1 1 6 1 9 2 0 * 30

1 7 2 1 1 2 1 8 8 2 * 33

8 0 0 2 8 8 4 4 3 5 * 42

1 9 8 0 2 7 0 4 2 4 * 37

6 0 4 7 1 7 5 5 8 5 * 48

4 1 0 0 6 2 7 8 5 0 * 33

0 8 8 5 2 1 6 4 8 5 * 47

8 9 4 6 6 0 5 7 2 3 * 50

8 5 0 2 3 5 5 9 4 1 * 42

5 7 1 7 7 5 6 5 6 9 * 58

####Surround the matrix with asterisks (*) like the following:

In [10]:
# for i in range(23):
#   print("*",end="")
# print("\n")
# for i in range(size):
#   print("* ",end="")
#   for j in range(size):
#     print(random.randint(0,9),end=" ")
#   print("*\n")
# for i in range(23):
#   print("*",end="")

for i in range(len(lst)):
  if i == 0:
    for i in range(i+1):
      for j in range(len(lst[i])+1):
        print('*', end="**")
      print('\n')
    
      for i in range(len(lst)):
        print("*",end=" ")
        for j in range(len(lst[i])):
          print(lst[i][j], end="  ")
        print("*\n")
  if i == len(lst)-1:
      for j in range(len(lst[i])-2):
        print('*', end="*")

*********************************

* 1  8  1  1  1  6  1  9  2  0  *

* 1  7  2  1  1  2  1  8  8  2  *

* 8  0  0  2  8  8  4  4  3  5  *

* 1  9  8  0  2  7  0  4  2  4  *

* 6  0  4  7  1  7  5  5  8  5  *

* 4  1  0  0  6  2  7  8  5  0  *

* 0  8  8  5  2  1  6  4  8  5  *

* 8  9  4  6  6  0  5  7  2  3  *

* 8  5  0  2  3  5  5  9  4  1  *

* 5  7  1  7  7  5  6  5  6  9  *

********************************

In [11]:
column_sum = []
for j in range(len(lst[i])):
  total_c = 0
  for i in range(len(lst)):
    total_c=total_c+lst[i][j]
    #print(lst[i][j], end=" ")
  column_sum.append(total_c)
 # print("* {}\n".format(total_c))

####Calculate and Print the total of each row and column like the following:

In [12]:
for i in range(0,len(lst)):
  for j in range(0,len(lst[i])):
    print(lst[i][j], end="  ")
  print("* {}\n".format(row_sum[i]))
  if i == len(lst)-1:
    for i in range(i,len(lst)):
      for j in range(0,len(lst)):
        print('*', end= "  ")
      print("\n")
    for i in range(i,len(lst)):
      for j in range(0,len(lst)):
        print(column_sum[j], end= " ")

1  8  1  1  1  6  1  9  2  0  * 30

1  7  2  1  1  2  1  8  8  2  * 33

8  0  0  2  8  8  4  4  3  5  * 42

1  9  8  0  2  7  0  4  2  4  * 37

6  0  4  7  1  7  5  5  8  5  * 48

4  1  0  0  6  2  7  8  5  0  * 33

0  8  8  5  2  1  6  4  8  5  * 47

8  9  4  6  6  0  5  7  2  3  * 50

8  5  0  2  3  5  5  9  4  1  * 42

5  7  1  7  7  5  6  5  6  9  * 58

*  *  *  *  *  *  *  *  *  *

42 54 28 31 37 43 40 63 48 34