<a href="https://colab.research.google.com/github/Ishani-Patel/data690_fall2022/blob/main/assignment_02/Data690_session_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data 690 Session 02
* Date:09/09/20222
* Name: Ishani Mayur Patel

In [18]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"
type(years)

str

In [19]:
years_list=years.split(" ")
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [20]:
y=[23,-97,112,2.5,56]

In [21]:
total=0
for number in y:
  total=total+number
print('Sum of list y:',total)

Sum of list y: 96.5

In [22]:
print('Size of the list y:',len(y))

Size of the list y: 5

In [23]:
print("Average of list y:",total/len(y))

Average of list y: 19.3

In [25]:
years_list

['1/11/1997',
 '1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [26]:
abandoned=years_list.pop(0)

In [27]:
years_list

['1991',
 '2000',
 '1969',
 '1999',
 '1998',
 '1993',
 '1996',
 '1999',
 '1997',
 '1996',
 '1998',
 '1995',
 '1999',
 '1999',
 '1997',
 '1996',
 '1996',
 '1997',
 '1995',
 '1997',
 '1999',
 '2000']

In [28]:
from datetime import date
current_year=date.today().year
print(current_year)

2022

In [30]:
age=0
total=0
for birth_year in years_list:
  age=current_year-int(birth_year)
  total=total+age
print("total age is:",total)

total age is: 578

In [31]:
average_age=total/len(years_list)
average_age

26.272727272727273